events {
  worker_connections  4096;  ## Default: 1024
}

http {
  upstream {{ backend_load_balancer_name }} {
    # With this configuration of weights, out of every 3 requests, 2 are sent to server A and 1 to server B.
      server {{ server_a_ip_address }}:8000 weight=3;
      server {{ server_b_ip_address }}:8000 weight=1;
  }
  
  server {
      location / {
          proxy_pass http://{{ backend_load_balancer_name }};
          add_header Access-Control-Allow-Origin http://{{ frontend_load_balancer_ip_address }}; 
          add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
          add_header 'Access-Control-Allow-Headers' 
                      'DNT,
                      Keep-Alive,
                      User-Agent,
                      X-Requested-With,
                      If-Modified-Since,
                      Cache-Control,
                      Content-Type';
          
          if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Max-Age' 1728000;
            add_header 'Content-Type' 'text/plain; charset=utf-8';
            add_header 'Content-Length' 0;
            return 204;
          }
      }
  }
}