events {
  worker_connections  4096;  ## Default: 1024
}
http {
  upstream {{ frontend_load_balancer_name }} {
      server {{ frontend_web_app_a_ip_address }}:3000 weight=1;
      server {{ frontend_web_app_b_ip_address }}:3000 weight=3;
  }
  
  server {
      location / {
          allow {{ frontend_reverse_proxy_ssl_ip_address }};
          deny all;
          proxy_pass http://{{ frontend_load_balancer_name }};
          add_header Access-Control-Allow-Origin http://{{ frontend_reverse_proxy_ssl_ip_address }};
          add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
          add_header 'Access-Control-Allow-Headers' 
                      'DNT,
                      Keep-Alive,
                      User-Agent,
                      X-Requested-With,
                      If-Modified-Since,
                      Cache-Control,
                      Content-Type';
          
          if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Max-Age' 1728000;
            add_header 'Content-Type' 'text/plain; charset=utf-8';
            add_header 'Content-Length' 0;
            return 204;
          }
      }
  }
}