events {
  worker_connections  4096;  ## Default: 1024
}
http {
  upstream backend {
      server 10.2.2.200:8000 weight=0.5;
      server 10.2.2.200:8000 weight=0.5;
  }
  
  server {
      location / {
          proxy_pass http://backend;
      }
  }
}