VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  # Use the same key for each machine
  config.ssh.insert_key = false

  config.vm.define "{{ frontend_reverse_proxy_name }}" do |{{ frontend_reverse_proxy_name }}|
    {{ frontend_reverse_proxy_name }}.vm.box = "ubuntu/focal64"
    {{ frontend_reverse_proxy_name }}.vm.network "forwarded_port", guest:22, host: {{ frontend_reverse_proxy_ssh_host }}
    {{ frontend_reverse_proxy_name }}.vm.network "private_network", ip: "{{ frontend_reverse_proxy_ip_address }}"
    {{ frontend_reverse_proxy_name }}.vm.hostname = "{{ frontend_reverse_proxy_name }}"
  end

  config.vm.define "{{ nomad_name }}" do |{{ nomad_name}}|
    {{ nomad_name}}.vm.box = "ubuntu/focal64"
    {{ nomad_name}}.vm.network "forwarded_port", guest:22, host: {{ nomad_ssh_host }}
    {{ nomad_name}}.vm.network "private_network", ip: "{{ nomad_ip_address }}"
    {{ nomad_name}}.vm.hostname = "{{ nomad_name}}"
  end

  config.vm.define "{{ frontend_name }}" do |{{ frontend_name }}|
    {{ frontend_name }}.vm.box = "ubuntu/focal64"
    {{ frontend_name }}.vm.network "forwarded_port", guest:22, host: {{ frontend_ssh_host }}
    {{ frontend_name }}.vm.network "private_network", ip: "{{ frontend_ip_address }}"
    {{ frontend_name }}.vm.hostname = "{{ frontend_name }}"
  end
  
  config.vm.define "{{ backend_load_balancer_name }}" do |{{ backend_load_balancer_name }}|
    {{ backend_load_balancer_name }}.vm.box = "ubuntu/focal64"
    {{ backend_load_balancer_name }}.vm.network "forwarded_port", guest:22, host: {{ backend_load_balancer_ssh_host }}
    {{ backend_load_balancer_name }}.vm.network "private_network", ip: "{{ backend_load_balancer_ip_address }}"
    {{ backend_load_balancer_name }}.vm.hostname = "{{ backend_load_balancer_name }}"
  end
  
  
  config.vm.define "{{ server_a_name }}" do |server|
    server.vm.box = "ubuntu/focal64"
    server.vm.network "forwarded_port", guest:22, host: {{ server_a_ssh_host }}
    server.vm.network "private_network", ip: "{{ server_a_ip_address }}"
    server.vm.hostname = "{{ server_a_name}}"
  end
  
  config.vm.define "{{ server_b_name }}" do |server|
    server.vm.box = "ubuntu/focal64"
    server.vm.network "forwarded_port", guest:22, host: {{ server_b_ssh_host }}
    server.vm.network "private_network", ip: "{{ server_b_ip_address }}"
    server.vm.hostname = "{{ server_b_name}}"
  end
  
  config.vm.define "{{ db_name }}" do |{{ db_name }}|
    {{ db_name }}.vm.box = "ubuntu/focal64"
    {{ db_name }}.vm.network "forwarded_port", guest:22, host: {{ db_ssh_host }}
    {{ db_name }}.vm.network "private_network", ip: "{{ db_ip_address }}"
    {{ db_name }}.vm.hostname = "{{ db_name }}"
  end
end